* {
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box
}

.calculator {
    background: #101010;
    width: 25em;
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.display{
    background: #222;
    color: #fff;
    text-align: right;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7em;
    height: 6em;
    padding: 0 .1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.controls{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: .7em 0;
    margin: auto 0.5em;
}

.display .previous-operand {
    font-size: 1.3rem;
    color: gray;
}

.controls button {
    background: #222222;
    color: white;
    height: 5.5em;
    cursor: pointer;
    margin: 0.5em;
    border: unset;
    border-radius: .5em;
    outline: unset;
}

.controls button:hover {
background: #333333;
}

.controls button:active {
    transform: translateY(.5em);
}

.controls .teal {
    background: #005755;
}

.controls .teal:hover {
    background: #006664;
}

.controls .equals {
    background: orange;
}

.controls .equals:hover {
    background: orangered;
}

.teal, .equals {
    font-weight: bold;
}

.span-two {
    grid-column: span 2;
}


@media screen and (max-width: 768px) {
    .calculator {
        width: 100vw;
        height: 100vh;
        margin: auto;
    }
}